.c-content {
	display: grid;

	@media (min-width: 40em) {
		grid-template-columns: repeat(8, 1fr);
	}

	&__title {
		@media (min-width: 40em) {
			grid-column-start: 1;
			grid-column-end: 9;
		}
	}

	&__body {
		@media (min-width: 40em) {
			grid-column-start: 2;
			grid-column-end: 9;
		}
	}

	&__meta {

		&-tag {
			background: $palette-mid--light;
			color: $palette-black;
			display: inline-block;
			padding: $base-spacing / 2;
			border-radius: 10px;
			font-size: 0.6rem;
			text-transform: uppercase;
			width: max-content;
			font-weight: bold;
			}
		}
	}

