.c-masthead {
	color: $palette-plain;
	transition: 0.15s all;
	text-decoration: none;

	&:hover {
		color: $palette-yellow;
	}

	&__item {
		display: block;
		text-decoration: none;

		&:first-child {
			color: $palette-yellow;
			text-transform: uppercase;
		}
	}
}
