.c-navigation {

	&__primary {
		list-style-type: none;
		padding-left: 0;
	}

	&__link {
		color: $palette-plain;
		font-size: 1rem;
		line-height: 1.5;
		transition: 0.15s all;
		text-decoration: none;

		&:hover {
			color: $palette-yellow;
		}
		&.is-active {
			color: $palette-yellow;
		}


	}

}
