.o-content {
	display: grid;
	padding-top: $base-spacing * 3;

	grid-template-areas:
		"masthead"
		"content"
		"colophon"
		"footer";

	@media (min-width: 40em) {
		grid-template-areas:
			"masthead content"
			"colophon content"
			". content"
			"footer footer";
		grid-gap: $base-spacing * 2;
		padding-top: $base-spacing * 5;
	}

	&__sidebar {
		grid-area: masthead;
	}

	&__body {
		display: grid;
		grid-area: content;
		justify-content: start;
		align-content: start;
	}
}
